
//create-react-app项目eject 后babel的配置文件，也可在package.json里配置"babel":{}
{
  "presets": ["react-app"],
  "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
