.App {
  position: absolute;
  top: 0;
  bottom: 0;
  width:100%;
  height:100%;
  /* text-align: center; */
  background-image: url('./material/lisbon-mini2.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}


.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  /* background-color: #222; */
  height: 150px;
  padding: 20px;
  color: white;
}

.center-part{
  text-align: center;
}
.App-title {
  font-size: 1.5em;
  color:#fff;
  /* background: url('./material/logo1.png') */
}

.App-intro {
  color:#fff;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
